{% extends "base.html" %}
{% block title%}contact{% endblock %}
{% block content%}
<h1 class="text-center bg-light">Contact Us</h1>
<hr>
<table class="table table-sm table-dark table-primary">
    <thead>
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">Department</th>
        <th scope="col">Contact Number</th>
        
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <th scope="row">1</th>
        <td>MAIN LINES
        </td>
        <td>0484 2880002</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">2</th>
        <td>APPOINTMENTS</td>
        <td>3547892081</td>
      </tr>
      <tr class="table-success">
        <th scope="row">3</th>
        <td>HR DEPARTMENT</td>
        <td>3547392081</td>
      </tr>
      <tr class="table-info">
        <th scope="row">4</th>
        <td>PHARMACY PURCHASE</td>
        <td>0484 67452081</td>
      </tr>
      <tr class="table-light">
        <th scope="row">5</th>
        <td>MARKETING</td>
        <td>0484 5158852</td>
      </tr>
    </tbody>
  </table>
  

<div id="contact-info">
    <h2>Contact Information</h2>
    <p>City Hospital</p>
    <p>Email: city,hospital@example.com</p>
    <p>Phone: +1 (123) 456-7890</p>
    <p>Address: 123 Main St, cochi City, Kerala </p>
</div>  
<div id="map-container">
    <!-- Embed Google Map here -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3222.392039868268!2d-122.08280248460166!3d37.42322037985073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb1c584e2337%3A0xa78710b8164224f0!2sGoogleplex!5e0!3m2!1sen!2sus!4v1631082224959!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
{% endblock %}