{% extends "base.html" %}
{% load static %}
{% block title%}department{% endblock %}
{% block content%}
<h1 class="text-center">Our Deaprtments</h1>     

<div class="container">
    <div class="row">
        {% for d in dept %} 
        <div class="col-sm-4 mb-3">
                    <div class="card" style="width: 18rem;">
                       
                       <img src= "{{ d.dep_img.url }}" class="card-img-top" alt="..." style="height: 22em">
                    
                       <div class="card-body">
                        <h5 class="card-title">{{d.dep_name}}</h5>
                        <p class="card-text">{{d.dep_description}}</p>
                       </div>
                     
                    </div>
                </div>
            {% endfor %}
            {% endblock %}
           